.proj-btns{
	display: flex;
	width: 335px;
}

.proj-btns > div{
	flex-grow: 1;
	align-items: stretch;
	justify-items: stretch;
} 

.proj-btns button{
	flex-grow: 1;
}

#proj-input-contents{
	display: flex;
	width: 100%;
	flex-grow: 1;
	justify-items: stretch;
}

#proj-input-contents div:first-child{
	flex-grow: 2;
}

.proj-submit-controls{
	flex-grow: 1;
}

#proj-name-input{
	flex-grow: 2;
}

.proj-input-wrapper form{
	width: 300px;
	flex-grow: 1;
	margin: 5px 0px 5px 5px;
}