.todo-item-container{ 
	display: flex;
	/* flex-direction: column; */
	margin-top: 10px !important;
	width: 700px;
	justify-content: space-between !important; 
}

.todo-item{
	display: flex;
	width: 700px;	
	justify-content: space-between !important;
}

.todo-item-editable{
	align-items: center;
}

.task-rhs-wrapper{ 
	display: flex;
	/* width: 40%; */
	/* flex-grow: 1; */
	align-items: center;
	justify-content: flex-end;
}

.task-info{
	display: flex;
	align-items: center;
}

.task-date{
	margin-right: 15px;
}

.task-edit-btns{
	margin-left: 10px;
}

.task-text-date-edit-wrapper{
	display: flex;
	flex-direction: column;
}

.proj-colour-edit-wrapper{
	display: flex;
	flex-direction: column;
}