.todo-item{
	display: flex;
	width: 700px;
	margin-bottom: 10px;
}

.todo-list{
	list-style-type: none;
}

.proj-edit-wrapper{
	display: none;
}

.task-date-due{
	color:red;
}

.task-view-wrapper{
	display: flex;	
	min-width: 700px;
	flex-direction: column;
	margin-top: 20px;
	align-items: flex-start;
}

.task-view-btns{
	align-self: center;
}

ul{
	margin: 0;
	padding: 0;
}

#n-task-display{
	margin-bottom: 10px;
}