
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
	height:1vw;
	font-family: "Roboto";
}

.App{
	display: flex;
	height: 1vw;
	width: 100%;
	flex-wrap: nowrap;
	align-items: stretch;
}


.side-pane-wrapper{
	flex-shrink: 0;
	height: 100%;
	min-width: 320px;
	align-content: flex-start;
}

.content{	
	display: flex;
	flex-direction: column;
	flex-grow: 2;
	flex-shrink: 0;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.colour-menu-item{
	display: flex;
	height:30px;
	width:70px;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
}
#input-field{
	display: flex;
	align-items: center;
}

#task-field{
	height: 0.5em;
	
}

.task-submit-btns{
	margin-left: 10px;
}

.date-priority-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
}

.new-task-wrapper{
	display:flex;
	flex-direction: column;
	margin-top: 10px;
	align-items: center;
}

.side-pane{
	min-width: 320px;
}

